@()(implicit l: Lang, messagesApi: MessagesApi)

@header(extraDivClass:String="") = {
<div class="row @extraDivClass">
	<div class="span6">

		<h1 class="logo">
			@messagesApi("name")
		</h1>

	</div>
	<div class="span3">

		<ul class="contact-info hide-on-phone fixed">
			<li>Mail:&nbsp;<a href="mailto:#">@messagesApi("email")</a></li>
			<li>@messagesApi("phone_label"): <strong>@messagesApi("phone")</strong></li>
		</ul>

	</div>

	<div class="span3">

		<img src='@routes.Assets.at("images/profilfoto1.jpg")'
			class="responsive-img profile" alt="" />

	</div>

</div>

<!--  div class="hr hide-on-phone"></div-->
} 

@listFrom(messageKey: String) = @{
  messagesApi(messageKey).split(',').map(_.trim).filter(!_.isEmpty).toList
}

@cvItems(prefix:String, list:String, headerKey:String)= {
     <div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">

				<h3 class="cv-section-title">@messagesApi(headerKey)</h3>

			</div>
		</div>

		@for(experience <- list.split(",").map(_.trim).toList) {

		<div class="row cv-item">
			<div class="span3 cv-item-description">

				<h6>@messagesApi(s"${prefix}_${experience}_company")</h6>
				<p>
					<span class="mute">@messagesApi(s"${prefix}_${experience}_time")</span>
				</p>

			</div>

			<div class="span9 cv-item-details">
				<h4>@messagesApi(s"${prefix}_${experience}_title")</h4>

				<p>
					@messagesApi(s"${prefix}_${experience}_summary")

  
					@defining(messagesApi(s"${prefix}_${experience}_note")) { note =>
					@if(!note.isEmpty){<br />
					<span class="note">@note</span>
					} 
					}
				</p>

				@defining(messagesApi(s"${prefix}_${experience}_features").split(";").filter(!_.isEmpty)) { features =>
				  @if(!features.isEmpty){
				    <ul class="disc last">
					  @for(feature <- features) {
					    <li>@feature</li> 
					  }
				     </ul>
				  }
				}

			</div>
		</div>
		}
}


@main("Alpin CV") {

<div class="wrap">
	<div class="content">

		@header()

        @cvItems("alpine_trip","fahnenstock, chlichaerpf, rotstock, pizzodiclaro, pizbeverin, panixerpass, altmansantis, schilthorn, gulmen ","alpine_trips_section_title")
			
	</div>

</div>

<div class="wrap">
	<div class="content">

		@header("hide-on-phone")

		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@messagesApi("alpine_course_section_title")</h3>
			</div>
		</div>

		@for(alpine_course <- listFrom("alpine_course")) {

		<div class="row cv-item">
			<div class="span3 cv-item-description">

				<h6>@messagesApi("alpine_course_"+alpine_course+"_institution")</h6>
				<p>
					@messagesApi("alpine_course_"+alpine_course+"_location") <span class="mute">@messagesApi("alpine_course_"+alpine_course+"_time")</span>
				</p>

			</div>

			<div class="span9 cv-item-details">

				<h4>@messagesApi("alpine_course_"+alpine_course+"_name")</h4>

				<p class="last">@messagesApi("alpine_course_"+alpine_course+"_description").</p>

			</div>

		</div>
		}
		
		<!-- div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@messagesApi("alpine_others_courses_section_title")</h3>
			</div>
		</div-->

		<!--   @cvItems("experience","un, service", "")-->




	</div>

</div>

<div class="wrap">
	<div class="content">
		@header("hide-on-phone")

		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@messagesApi("personal_heading")</h3>
			</div>
		</div>

		<div class="row cv-item">
			<div class="span3 cv-item-description">&nbsp;</div>
			<div class="span9 cv-item-details">

				<ul class="unstyled last">
					<li><strong>@messagesApi("born_label")</strong><br />
					@messagesApi("born")</li>
					<li><strong>@messagesApi("citizenship_label")</strong><br />
					@messagesApi("citizenship")</li>
					<li><strong>@messagesApi("status_label")</strong><br />
					@messagesApi("status")</li>
				</ul>

			</div>
		</div>


		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@messagesApi("interests_heading")</h3>
			</div>
		</div>

		<div class="row cv-item">
			<div class="span3 cv-item-description">&nbsp;</div>
			<div class="span9 cv-item-details">

				<ul class="unstyled last">
					@for(interest <- listFrom("interests")) {
					<li><strong>@messagesApi("interest_"+interest+"_name")</strong><br />@messagesApi("interest_"+interest+"_description")</li>
					}
				</ul>

			</div>
		</div>
		
		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@messagesApi("references_heading")</h3>
			</div>
		</div>

		<div class="row cv-item">
			<div class="span3 cv-item-description">&nbsp;</div>
			<div class="span9 cv-item-details">

				<ul class="unstyled last">
				    <li>@messagesApi("ref_webcv") <a href="http://cv.andersbohn.dk/@{l.language}">http://cv.andersbohn.dk/@{l.language}</a></li>
					<li>@messagesApi("ref_linkedin") <a href="http://dk.linkedin.com/in/andersbohn">http://dk.linkedin.com/in/andersbohn</a></li>
				
				</ul>

			</div>
		</div>
		
		

		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">

				<h3 class="cv-section-title">@messagesApi("contact_heading")</h3>

			</div>
		</div>

		<div class="row cv-item" style="margin-bottom: 0;">
			<div class="span3 cv-item-description">

				<h6>@messagesApi("name")</h6>
				<address class="text-right hide-on-phone">
					@messagesApi("street") <br />@messagesApi("city") <br />@messagesApi("country")
				</address>

			</div>

			<div class="span9 cv-item-details">

				<ul class="contact-info-2 fixed">
					<li><i class="icon icon-inbox"></i> <a href="mailto:#">@messagesApi("email")</a></li>
					<li><span class="mute hide-on-phone">&#215;</span></li>
					<li><i class="icon icon-bullhorn"></i>@messagesApi("phone")</li>
				</ul>

				<p class="credits no-print">
					Note: Responsive CV HTML-template courtesy of <a
						href="http://themeforest.net/user/completethemes">completethemes</a>
			</div>
		</div>

	</div>
</div>

}(l,messagesApi)
