@(experiences: List[String])(implicit l: Lang)

  @header() = {
    <div class="row">
      <div class="span6">

        <h1 class="logo">
          @Messages("name")
          <br /><small>@Messages("description")</small>
        </h1>

      </div><!-- end .span6 -->
      <div class="span3">

        <address class="address-info hide-on-phone">@Messages("street")
          <br />@Messages("city")
          <br />@Messages("country")
        </address>

      </div><!-- end .span3 -->
      <div class="span3">

        <ul class="contact-info hide-on-phone fixed">
          <li>E-mail: <a href="mailto:#">@@site.com</a></li>
          <li>Website: <a href="#">john-smith-cv.com</a></li>
          <li>Phone: <strong>+1-234-567-8900</strong></li>
        </ul>

      </div><!-- end .span3 -->
    </div><!-- end .row -->

  }

@main("Formal CV") {

  <div class="wrap">
    <div class="content">

        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    @header()


        <!-- // Personal Profile ////////////////////////////////////////////////////////////////////////////////// -->

      <div class="row">
        <div class="span12">

          <h2 class="cv-profile">@Messages("profile")(l)</h2>

        </div><!-- end .span12 -->
      </div><!-- end .row -->


      <!-- // Working experience //////////////////////////////////////////////////////////////////////////////// -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <h3 class="cv-section-title">@Messages("working_experience")</h3>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- cv items -->
@for(experience <- experiences) {
     
      <div class="row cv-item">
        <div class="span3 cv-item-description">

          <h6>@Messages("experience_"+experience+"_company")</h6>
          <p><span class="mute">@Messages("experience_"+experience+"_time")</span></p>

        </div><!-- end .span3 -->
        <div class="span9 cv-item-details">
          <h4>@Messages("experience_"+experience+"_title")</h4>

          <p>@Messages("experience_"+experience+"_summary")</p>
          
          @defining(Messages("experience_"+experience+"_note")) { note =>
@if(!note.isEmpty){
          <p><i>@note</i></p>
}
        }  

@defining(Messages("experience_"+experience+"_features").split(";").filter(!_.isEmpty)) { features =>
@if(!features.isEmpty){
          <ul class="disc last">
            @for(feature <- features) {
              <li>@feature</li>
            }
          </ul>
}}

        </div><!-- end .span9 -->
      </div><!-- end .row -->
}
      <!-- // Education  //////////////////////////////////////////////////////////////////////////////////////// -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <h3 class="cv-section-title">Education</h3>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- cv item -->
      <div class="row cv-item">
        <div class="span3 cv-item-description">

          <h6>Graphic design School</h6>
          <p>New York City, USA
            <br /><span class="mute">2005 - 2009</span></p>

        </div><!-- end .span3 -->
        <div class="span9 cv-item-details">

          <h4>Management of Creative Business Processes</h4>

          <p class="last">Nullam laoreet laoreet lectus quis semper. Morbi ut justo lacus, eu sagittis nibh. Vivamus
            tempus libero id lectus fermentum iaculis. Mauris eu sapien quam. Cum sociis natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Nulla sodales dignissim arcu quis
            consequat. In nibh justo, ullamcorper at pulvinar sit amet, pellentesque et ipsum.</p>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- // Core skills /////////////////////////////////////////////////////////////////////////////////////// -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <h3 class="cv-section-title">Related skills</h3>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <div class="row">
            <div class="span3 skill">

              <h4>HTML Coding</h4>
                <!--  To change the level modify class="l-5" with l-1 ... l-10 for skill levels from 1 to 10 -->
              <div class="level"><span class="l-5">average skillset</span></div>
              <p>average</p>

            </div><!-- end .span3 -->
            <div class="span3 skill">

              <h4>Adobe Photoshop</h4>
              <div class="level"><span class="l-8">extensive knowledge</span></div>
              <p>extensive knowledge</p>

            </div><!-- end .span3 -->
            <div class="span3 skill">

              <h4>Adobe Indesign</h4>
              <div class="level"><span class="l-6">good skillset</span></div>
              <p>good</p>

            </div><!-- end .span3 -->
          </div><!-- end .row -->

          <div class="row">
            <div class="span3 skill">

              <h4>English</h4>
              <div class="level"><span class="l-10">native speaker</span></div>
              <p>native speaker</p>

            </div><!-- end .span3 -->
            <div class="span3 skill">

              <h4>French</h4>
              <div class="level"><span class="l-4">fluent</span></div>
              <p>fluent</p>

            </div><!-- end .span3 -->
            <div class="span3">

                &nbsp;

            </div><!-- end .span3 -->
          </div><!-- end .row -->

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    </div><!-- end .content -->
  </div><!-- end .wrap -->

  <div class="wrap">
    <div class="content">

        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      @header()

      <div class="hr hide-on-phone"></div>


        <!-- // Portfolio  //////////////////////////////////////////////////////////////////////////////////////// -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <h3 class="cv-section-title">Portfolio</h3>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <div class="portfolio-items">
        <div class="flexslider">
          <ul class="slides">

            <li>

              <div class="row">
                <div class="span6">

                  <a href="@routes.Assets.at("_content/880x350-1.png")" rel="imagebox[portfolio]">
                    <img src="@routes.Assets.at("_content/370x300.png")" class="responsive-img" alt="" />
                  </a>

                </div><!-- end .span6 -->
                <div class="span6">

                  <br />
                  <h5 class="mute">02-03-2013 <span class="mute"> &#215; </span> Client Name</h5>
                  <h2 class="last">Praese lorem vulputate viverra</h2><br />

                  <p><strong>Objectives:</strong> Vivamus ut justo at purus vestibulum interdum a a lorem.
                    Aenean auctor felis ut lacus porttitor rutrum. Pellentesque habitant morbi tristique
                    senectus et netus et malesuada fames. </p>

                  <p><strong>Solutions:</strong> Aliquam eleifend dolor / Non rutrum quis sem</p>

                  <p class="last"><a href="#" class="btn btn-white">view project &rarr;</a></p>

                </div><!-- end .span6 -->
              </div><!-- end .row -->

            </li>

            <li>

              <div class="row">
                <div class="span8">

                  <a href="@routes.Assets.at("_content/880x350-1.png")" rel="imagebox[portfolio]">
                    <img src="@routes.Assets.at("_content/500x300.png")" class="responsive-img" alt="" />
                  </a>

                </div><!-- end .span6 -->
                <div class="span4">

                  <br />
                  <h5 class="mute">02-03-2013 <span class="mute"> &#215; </span> Client Name</h5>
                  <h2 class="last">Vulputate viverra</h2><br />

                  <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                    Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                  <p>Ut nulla lorem, ultrices sit amet gravida eget, placerat ut magna.</p>

                  <p class="last"><a href="#" class="btn btn-white">view project &rarr;</a></p>

                </div><!-- end .span6 -->
              </div><!-- end .row -->

            </li>

            <li>

              <div class="row">
                <div class="span6">

                  <a href="@routes.Assets.at("_content/880x350-1.png")" rel="imagebox[portfolio]">
                    <img src="@routes.Assets.at("_content/370x300-2.png")" class="responsive-img" alt="" />
                  </a>

                </div><!-- end .span6 -->
                <div class="span6">

                  <br />
                  <h5 class="mute">02-03-2013 <span class="mute"> &#215; </span> Client Name</h5>
                  <h2 class="last">Donec scelerisque aliquet</h2><br />

                  <blockquote>
                    <p>&#8220; Vivamus ut justo at purus vestibulum interdum a a lorem. Aenean auctor felis ut lacus porttitor rutrum.
                      Ut nulla lorem, ultrices sit amet gravida eget, placerat ut magna.  &#8221;</p>
                  </blockquote>

                  <ul class="checklist last">
                    <li>Nunc in dolor id lacus dictum euismod molestie ut </li>
                    <li>Donec eget nunc pulvinar tortor sollicitudin consectetur </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                  </ul>

                </div><!-- end .span6 -->
              </div><!-- end .row -->

            </li>



          </ul><!-- end .slides -->
        </div><!-- end .flexslider -->
      </div><!-- end .portfolio-items -->


      <!-- // Personal Interests //////////////////////////////////////////////////////////////////////////////// -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <h3 class="cv-section-title">Personal Interests</h3>

        </div><!-- end .span9 -->
      </div><!-- end .row -->

      <!-- cv item -->
      <div class="row cv-item">
        <div class="span3 cv-item-description">

            &nbsp;

        </div><!-- end .span3 -->
        <div class="span9 cv-item-details">

          <ul class="unstyled last">
            <li><strong>Reading</strong> (marketing communication, management psychology, design)</li>
            <li><strong>Playing musical instruments</strong> (guitar)</li>
            <li><strong>Sports</strong> (gym/ fitness centre, swimming, mountain bike)</li>
          </ul>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- // Contact Information /////////////////////////////////////////////////////////////////////////////// -->


      <div class="row">
        <div class="span3">&nbsp;</div>
        <div class="span9">

          <h3 class="cv-section-title">Contact</h3>

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- cv item -->
      <div class="row cv-item" style="margin-bottom:0;">
        <div class="span3 cv-item-description">

          <h6>John Smith</h6>
          <address class="text-right hide-on-phone">
            123 Make Believe Drive
            <br />Some city, Area code 54990
            <br />Some Country
          </address>

        </div><!-- end .span3 -->
        <div class="span9 cv-item-details">

          <ul class="contact-info-2 fixed">
            <li><i class="icon icon-inbox"></i> <a href="mailto:#">john@@site.com</a></li>
            <li><span class="mute hide-on-phone">&#215;</span></li>
            <li><i class="icon icon-briefcase"></i> <a href="#">john-smith-cv.com</a></li>
            <li><span class="mute hide-on-phone">&#215;</span></li>
            <li><i class="icon icon-bullhorn"></i> +1-234-567-8900</li>
          </ul>

          <form id="contact-form" class="fixed" action="javascript:void(0);">
            <fieldset>
              <p id="formstatus"></p>
              <div class="row">
                <div class="span4">
                  <p><input class="text" type="text" id="name" name="name" value="Your name" onfocus="if(this.value=='Your name')this.value='';" onblur="if(this.value=='')this.value='Your name';" /></p>
                  <p><input class="text" type="text" id="email" name="email" value="Your e-mail address" onfocus="if(this.value=='Your e-mail address')this.value='';" onblur="if(this.value=='')this.value='Your e-mail address';" /></p>
                  <p class="last"><input class="text" type="text" id="subject" name="subject" value="Subject" onfocus="if(this.value=='Subject')this.value='';" onblur="if(this.value=='')this.value='Subject';"  /></p>
                </div><!-- end .span4 -->
                <div class="span5">
                  <p><textarea id="message" name="message" rows="3" cols="25"></textarea></p>
                  <p class="last text-right"><input type="submit" name="submit" class="btn btn-white" value="Send!" /></p>
                </div><!-- end .span5 -->
              </div><!-- end .row -->
            </fieldset>
          </form><!-- end #contact-form -->

        </div><!-- end .span9 -->
      </div><!-- end .row -->


      <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    </div><!-- end .content -->
  </div><!-- end .wrap -->



}(l)
