@()(implicit l: Lang, Messages: MessagesApi)

@header(extraDivClass:String="") = {
<div class="row @extraDivClass">
	<div class="span6">

		<h1 class="logo">
			@Messages("name") <br />
			<small>@Messages("description")</small>
		</h1>

	</div>
	<div class="span3">

		<ul class="contact-info hide-on-phone fixed">
			<li>Mail:&nbsp;<a href="mailto:#">@Messages("email")</a></li>
			<li>@Messages("phone_label"): <strong>@Messages("phone")</strong></li>
		</ul>

	</div>

	<div class="span3">

		<img src='@routes.Assets.at("images/profilfoto1.jpg")'
			class="responsive-img profile" alt="" />

	</div>

</div>

<!--  div class="hr hide-on-phone"></div-->
} 

@listFrom(messageKey: String) = @{
  Messages(messageKey).split(',').map(_.trim).filter(!_.isEmpty).toList 
}

@cvItems(prefix:String, list:String, headerKey:String)= {
     <div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">

				<h3 class="cv-section-title">@Messages(headerKey)</h3>

			</div>
		</div>

		@for(experience <- list.split(",").map(_.trim).toList) {

		<div class="row cv-item">
			<div class="span3 cv-item-description">

				<h6>@Messages(s"${prefix}_${experience}_company")</h6>
				<p>
					<span class="mute">@Messages(s"${prefix}_${experience}_time")</span>
				</p>

			</div>

			<div class="span9 cv-item-details">
				<h4>@Messages(s"${prefix}_${experience}_title")</h4>

				<p>
					@Messages(s"${prefix}_${experience}_summary")

  
					@defining(Messages(s"${prefix}_${experience}_note")) { note =>
					@if(!note.isEmpty){<br />
					<span class="note">@note</span>
					} 
					}
				</p>

				@defining(Messages(s"${prefix}_${experience}_features").split(";").filter(!_.isEmpty)) { features => 
				  @if(!features.isEmpty){
				    <ul class="disc last">
					  @for(feature <- features) {
					    <li>@feature</li> 
					  }
				     </ul>
				  }
				}

			</div>
		</div>
		}
}


@main("Formal CV") {

<div class="wrap">
	<div class="content">

		@header()

		<div class="row">
			<div class="span12">

				<h2 class="cv-profile">@Messages("profile")</h2>

			</div>
		</div>

        @cvItems("assignment","teralytics,bm,mkplanner,etl","assignments_heading")
			
			
	</div>

</div>

<div class="wrap">
	<div class="content">

		@header("hide-on-phone")
		
		@cvItems("experience", "teralytics,leonteq, miracle, lenio, ibm, md, intramed, lec","working_experience")

	</div>

</div>

<div class="wrap">
	<div class="content">

		@header("hide-on-phone")

		@cvItems("experience","silvandt, un, service","working_experience_cont")

		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">

				<h3 class="cv-section-title">@Messages("education_section_title")</h3>

			</div>
		</div>

		@for(education <- listFrom("educations")) {

		<div class="row cv-item">
			<div class="span3 cv-item-description">

				<h6>@Messages("education_"+education+"_institution")</h6>
				<p>
					@Messages("education_"+education+"_location") <span class="mute">@Messages("education_"+education+"_time")</span>
				</p>

			</div>

			<div class="span9 cv-item-details">

				<h4>@Messages("education_"+education+"_name")</h4>

				<p class="last">@Messages("education_"+education+"_description").</p>

			</div>

		</div>
		}
		


	</div>

</div>

<div class="wrap">
	<div class="content">
		@header("hide-on-phone")

		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@Messages("personal_heading")</h3>
			</div>
		</div>

		<div class="row cv-item">
			<div class="span3 cv-item-description">&nbsp;</div>
			<div class="span9 cv-item-details">

				<ul class="unstyled last">
					<li><strong>@Messages("born_label")</strong><br />
					@Messages("born")</li>
					<li><strong>@Messages("citizenship_label")</strong><br />
					@Messages("citizenship")</li>
					<li><strong>@Messages("status_label")</strong><br />
					@Messages("status")</li>
					<li><strong>@Messages("languages_label")</strong><br />
					@Messages("languages")</li>
				</ul>

			</div>
		</div>


		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@Messages("interests_heading")</h3>
			</div>
		</div>

		<div class="row cv-item">
			<div class="span3 cv-item-description">&nbsp;</div>
			<div class="span9 cv-item-details">

				<ul class="unstyled last">
					@for(interest <- listFrom("interests")) {
					<li><strong>@Messages("interest_"+interest+"_name")</strong><br />@Messages("interest_"+interest+"_description")</li>
					}
				</ul>

			</div>
		</div>
		
		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">
				<h3 class="cv-section-title">@Messages("references_heading")</h3>
			</div>
		</div>

		<div class="row cv-item">
			<div class="span3 cv-item-description">&nbsp;</div>
			<div class="span9 cv-item-details">

				<ul class="unstyled last">
				    <li>@Messages("ref_webcv") <a href="http://cv.andersbohn.dk/@{l.language}">http://cv.andersbohn.dk/@{l.language}</a></li>
					<li>@Messages("ref_linkedin") <a href="http://dk.linkedin.com/in/andersbohn">http://dk.linkedin.com/in/andersbohn</a></li>
				</ul>

			</div>
		</div>
		
		

		<div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">

				<h3 class="cv-section-title">@Messages("contact_heading")</h3>

			</div>
		</div>

		<div class="row cv-item" style="margin-bottom: 0;">
			<div class="span3 cv-item-description">

				<h6>@Messages("name")</h6>
				<address class="text-right hide-on-phone">
					@Messages("street") <br />@Messages("city") <br />@Messages("country")
				</address>

			</div>

			<div class="span9 cv-item-details">

				<ul class="contact-info-2 fixed">
					<li><i class="icon icon-inbox"></i> <a href="mailto:#">@Messages("email")</a></li>
					<li><span class="mute hide-on-phone">&#215;</span></li>
					<li><i class="icon icon-bullhorn"></i>@Messages("phone")</li>
				</ul>

				<p class="credits no-print">
					Note: Responsive CV HTML-template courtesy of <a
						href="http://themeforest.net/user/completethemes">completethemes</a>
			</div>
		</div>

	</div>
</div>

}(l,Messages)
