@(title: String)(content: Html)(implicit l: Lang)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if lt IE 7 ]> <html class="ie6" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
  <head>
    <title>@title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <meta name="description" content=" add description  ... " />
    <meta name="keywords" content=" add keywords     ... " />

      <!-- /// Favicon ////////  -->
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("apple-touch-icon.png")" />

      <!-- /// CSS Stylesheets ////////  -->
    <link type="text/css" href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet" media="all" />
    <link type="text/css" href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />

      <!-- /// jQuery ////////  -->
    <script src="@routes.Assets.at("js/jquery-1.9.1.min.js")" type="text/javascript"></script>

      <!-- /// Imagebox ////////  -->
    <script type="text/javascript" src="@routes.Assets.at("js/imagebox/jquery.imagebox.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("js/imagebox/imagebox.css")" />

      <!-- /// FlexSlider ////////  -->
    <script type="text/javascript" src="@routes.Assets.at("js/flexslider/jquery.flexslider.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("js/flexslider/flexslider.css")" />

      <!-- /// Validity ////////  -->
    <script type="text/javascript" src="@routes.Assets.at("js/validity/jquery.validity.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("js/validity/css.validity.css")" />

      <!-- /// Custom JS ////////  -->
    <script type="text/javascript" src="@routes.Assets.at("js/scripts.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/plugins.js")"></script>

  </head>
  <body>
  @content
  </body>
</html>
