@()(implicit l: Lang, Messages: MessagesApi)

@header(extraDivClass:String="") = {
<div class="row @extraDivClass">
	<div class="span6">

		<h1 class="logo">
			@Messages("name") <br />
			<small>@Messages("description")</small>
		</h1>

	</div>

	<div class="span3">

		<ul class="contact-info hide-on-phone fixed">
			<li>Mail:&nbsp;<a href="mailto:#">@Messages("email")</a></li>
			<li>@Messages("phone_label"): <strong>@Messages("phone")</strong></li>
		</ul>

	</div>

	<div class="span3">

		<img src='@routes.Assets.at("images/profilfoto1.jpg")'
			class="responsive-img profile" alt="" />

	</div>

</div>

<!--  div class="hr hide-on-phone"></div-->
} 

@listFrom(messageKey: String) = @{
  Messages(messageKey).split(',').map(_.trim).filter(!_.isEmpty).toList 
}

@cvItems(prefix:String, list:String, headerKey:String)= {
     <div class="row">
			<div class="span3">&nbsp;</div>
			<div class="span9">

				<h3 class="cv-section-title">@Messages(headerKey)</h3>

			</div>
		</div>

		@for(experience <- list.split(",").map(_.trim).toList) {

		<div class="row cv-item">
			<div class="span3 cv-item-description">

				<h6>@Messages(s"${prefix}_${experience}_company")</h6>
				<p>
					<span class="mute">@Messages(s"${prefix}_${experience}_time")</span>
				</p>

			</div>

			<div class="span9 cv-item-details">
				<h4>@Messages(s"${prefix}_${experience}_title")</h4>

				<p>
					@Messages(s"${prefix}_${experience}_summary")

  
					@defining(Messages(s"${prefix}_${experience}_note")) { note =>
					@if(!note.isEmpty){<br />
					<span class="note">@note</span>
					} 
					}
				</p>

				@defining(Messages(s"${prefix}_${experience}_features").split(";").filter(!_.isEmpty)) { features => 
				  @if(!features.isEmpty){
				    <ul class="disc last">
					  @for(feature <- features) {
					    <li>@feature</li> 
					  }
				     </ul>
				  }
				}

			</div>
		</div>
		}
}


@main("Formal Resume") {


<div class="wrap">
	<div class="content">

		@header()

		@cvItems("tennant","current_situation, about_me, interested","tennant_heading")


		@cvItems("tennant","employer,landlord","tennant_references")

	</div>

</div>


}(l, Messages)
