name: Production Release
on:
  push:
    tags:
      - 'v*' # Trigger on v-tag

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'sbt' # This caches your library dependencies

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Build Static Site
        run: |
          sbt "runMain dk.bohnjespersen.anders.resume.util.StaticExporter"
          cp -r src/main/resources/* target/dist/assets/

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=cv-zio-site --branch=main